@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

$primary: rgb(67, 49, 154);
$shadow-color: rgba(0, 0, 0, 0.1);

@mixin standard-shadow {
  box-shadow: 1px 1px 1px 1px $shadow-color;
}

@mixin standard-padding {
  padding: 10px 10px 10px 10px;
}

html {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.container {
  display: inline-block;
}

.card {
  @include standard-shadow;
  max-height: 250px;
  max-width: 400px;
  margin: auto;
}

.card-title {
  height: 120px;
  @include standard-padding;
  background: url('https://pbs.twimg.com/profile_images/656211422398033920/k7asWvHS.jpg');
}

.card-title-text {
  margin: auto;
  position: relative;
  top: 90px;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
}

.card-supporting-text {
  @include standard-padding;
  color: rgba(0,0,0,.54);
  font-size: 1rem;
  line-height: 18px;
  width: 90%;
  overflow: hidden;
}

.card-actions {
  padding: 8px 8px 8px 8px;
  border-top: 1px solid rgb(230, 230, 230);
}

.action-button {
  color: $primary;
  position: relative;
  display: inline-block;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0;
  padding-left: 16px;
  padding-right: 16px;
  height: 36px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  line-height: 36px;
  vertical-align: middle;

  &:hover {
    @include standard-shadow;
    background-color: $shadow-color;
  }
}

.flex-container {
  margin-top: 25px;
}

.flex-card {
  @include standard-shadow;
  display: inline-flex;
  flex-direction: column;
  align-items: stretch;
  width: 400px;
}

.flex-card-title {
  font-weight: 700;
  color: rgb(255, 255, 255);
  height: 120px;
  flex-grow: 1;
  background: url('https://pbs.twimg.com/profile_images/656211422398033920/k7asWvHS.jpg');
}

.flex-card-title-text {
  position: relative;
  top: 60px;
  left: 10px;
}

.flex-card-supporting-text {
  color: rgba(0, 0, 0, 0.54);
  font-weight: 500;
  font-size: 16px;
  margin-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.flex-card-actions {
  padding: 8px 8px 8px 8px;
  border-top: 1px solid rgba(200, 200, 200, 0.2);
}

.flex-action-button {
  padding: 0px 16px 0px 16px;
  color: $primary;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 36px;
  text-decoration: none;
  text-transform: uppercase;
  height: 36px;
  position: relative;
  display: inline-block;

  &:hover {
    @include standard-shadow;
    background-color: $shadow-color;
  }
}

a:-webkit-any-link{
text-decoration:none;
}

.headerBar {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  text-align: center;
  // background-color: #595959;
  color: #fcfff4;
  text-shadow: 1px 1px #404040;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcfff4+0,e9e9ce+100;Wax+3D+%232 */
  background: #fcfff4; /* Old browsers */
  background: -moz-linear-gradient(top,  #fcfff4 0%, #e9e9ce 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #fcfff4 0%,#e9e9ce 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #fcfff4 0%,#e9e9ce 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#D3C8A8',GradientType=0 ); /* IE6-9 */

  .left-side li {
    float: left;
    list-style: none;
    margin: -3px 6px 0px 6px;
  }

  a:hover {
    color: #404040;
  }

  a {
    color: #fcfff4;
  }

  .dropdown {
    list-style: none;
  }

  .sub-menu2 {
    list-style: none;
  }

  .right-side li{
    float: right;
    list-style: none;
    margin: -3px 6px 0px 6px;
  }
}

.bodyText {
  text-align: center;
  color: #fcfff4;
  margin-top: 50px;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url("/images/toyota-ae86.jpg");
  background-position: center;
  background-size: 100%;
}

.footerBar {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  color: #F8F8FF;
  height: 20px;
	background-color: #000000;

  .footerText {
    font-size: 10px;
    padding-top: 5px;
    padding-left: 5px;
  }
}
