@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

$primary: rgb(67, 49, 154);
$shadow-color: rgba(0, 0, 0, 0.1);

@mixin standard-shadow {
  box-shadow: 1px 1px 1px 1px $shadow-color;
}

@mixin standard-padding {
  padding: 10px 10px 10px 10px;
}

html {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

// .container {
//   display: inline-block;
// }

a:-webkit-any-link{
text-decoration:none;
}

html {height:100%;}
body {height:100%;
  background: url("/images/toyota-ae86.jpg") no-repeat center center fixed;
}

.content {height:100%;}
.container {height:100%;}


.headerBar {
  // position: absolute;
  // right: 0;
  // left: 0;
  padding: 10px 10px 10px 10px;
  color: #fcfff4;
  text-shadow: 1px 1px #404040;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcfff4+0,e9e9ce+100;Wax+3D+%232 */
  background: #fcfff4; /* Old browsers */
  background: -moz-linear-gradient(top,  #fcfff4 0%, #e9e9ce 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #fcfff4 0%,#e9e9ce 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #fcfff4 0%,#e9e9ce 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#D3C8A8',GradientType=0 ); /* IE6-9 */

  .title {
    margin: 0px 0px 0px 8px;
    // padding:
  }

  a:hover {
    color: #404040;
  }

  a {
    color: #fcfff4;
  }

  // .dropdown {
  //   list-style: none;
  // }
  //
  // .sub-menu2 {
  //   list-style: none;
  // }
  
  .right-side {
    list-style: none;
    float: right;
    margin: 0px 0px 0px 0px;
  }

  .right-side li{
    display: inline-block;
    margin: -3px 6px 0px 6px;
  }
}

.bodyText {
  height:92%;
  text-align: center;
  color: #fcfff4;
  // margin-top: 19px;
  // min-height: 100%;
  // min-width: 1024px;
  // width: 100%;
  // position: absolute;
  // top: 0;
  // left: 0;
  // height: 600px;
  // background-size: cover;
  // background: url("/images/toyota-ae86.jpg") no-repeat center center fixed;
  // background-image: url("/images/toyota-ae86.jpg");
  // background-position: center;
  // background-size: 100%;
}

.footerBar {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  color: #F8F8FF;
  height: 20px;
	background-color: #000000;

  .footerText {
    font-size: 10px;
    padding-top: 5px;
    padding-left: 5px;
  }
}
